@import 'tailwindcss';

@theme {
  --color-text: #6b6375;
  --color-text-h: #08060d;
  --color-bg: #fff;
  --color-border: #e5e4e7;
  --color-code-bg: #f4f3ec;
  --color-accent: #aa3bff;

  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-text-h: #f3f4f6;
    --color-bg: #16171d;
    --color-border: #2e303a;
    --color-code-bg: #1f2028;
    --color-accent: #c084fc;
  }
}

@layer base {
  html {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }
}
